# Washington D.C. Bike Rental Data Analysis
This notebook analyzes the Washington D.C. bike rental dataset to explore the effect of weather and temporal factors on bike rentals.

# Assignment I: Exploratory Data Analysis

In [1]:
import pandas as pd

### Q1 - Import the dataset into a pandas dataframe. Make sure that the date column is in pandas date time format.

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [4]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

### Q2 -  Check the data type of each column. How many rows are there in the dataset ? Does the dataset contain any missing values ?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [6]:
df.shape

(10886, 12)

In [7]:
df.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

### Q3 - Using the date column, create new columns for: year, month, day of the week and hour of the day.

In [8]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day_of_week'] = df['datetime'].dt.day_name()   
df['hour'] = df['datetime'].dt.hour
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,Saturday,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,Saturday,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,Saturday,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,Saturday,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,Saturday,4

In [9]:
df['season'].unique()

array([1, 2, 3, 4])

### Q4 - Rename the values in the season column to spring, summer, fall and winter.

In [10]:
df['season'] = df['season'].map({
    1: 'spring',
    2: 'summer',
    3: 'fall',
    4: 'winter'
})

In [11]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour
0,2011-01-01 00:00:00,spring,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,Saturday,0
1,2011-01-01 01:00:00,spring,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,Saturday,1
2,2011-01-01 02:00:00,spring,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,Saturday,2
3,2011-01-01 03:00:00,spring,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,Saturday,3
4,2011-01-01 04:00:00,spring,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,Saturday,4

### Q5 - Calculate the total number of casual and registered bikes rented in the years 2011 and 2012.

In [30]:
df_2011_2012 = df[df['datetime'].dt.year.isin([2011, 2012])]

result = (
    df_2011_2012
    .groupby(df_2011_2012['datetime'].dt.year)[['casual', 'registered']]
    .sum()
)

print(result)

          casual  registered
datetime
2011      155817      626162
2012      236318     1067179

### Q6 - Calculate the mean of the hourly total rentals count by season. Which season has the highest mean ?

In [13]:
mean_by_season = df.groupby('season')['count'].mean()
print(mean_by_season)
highest_mean_season = mean_by_season.idxmax()
print("Highest mean: ",highest_mean_season)

season
fall      234.417124
spring    116.343261
summer    215.251372
winter    198.988296
Name: count, dtype: float64
Highest mean:  fall

### Q7 - Are more bikes rented by registered users on working or non-working days ?  Does the answer differ for non-registered users ? Is the answer the same for both years ?

In [32]:
# Workingday comparison
workingday_summary = df.groupby('workingday')[['registered', 'casual']].sum()
print("Total Rentals by Working vs Non-Working Days:")
print(workingday_summary, "\n")

Total Rentals by Working vs Non-Working Days:
            registered  casual
workingday
0               448835  206037
1              1244506  186098

In [33]:
df['year'] = df['datetime'].dt.year

yearly_summary = (
    df.groupby(['year', 'workingday'])[['registered', 'casual']]
      .sum()
      .reset_index()
)

print("Year-wise Rentals by Working vs Non-Working Days:")
print(yearly_summary, "\n")

Year-wise Rentals by Working vs Non-Working Days:
   year  workingday  registered  casual
0  2011           0      167492   83099
1  2011           1      458670   72718
2  2012           0      281343  122938
3  2012           1      785836  113380

In [34]:
pivot_table = yearly_summary.pivot_table(
    index='year',
    columns='workingday',
    values=['registered', 'casual'],
    aggfunc='sum'
)

print("Pivot Table Summary (Workingday 0 = Non-working, 1 = Working):")
print(pivot_table)

Pivot Table Summary (Workingday 0 = Non-working, 1 = Working):
            casual         registered
workingday       0       1          0       1
year
2011         83099   72718     167492  458670
2012        122938  113380     281343  785836

### Q8 - Which months in the year 2011 have the highest and the lowest total number of bikes rented ? Repeat for the year 2012

In [35]:
# Separate year-wise data
df_2011 = monthly_totals[monthly_totals['year'] == 2011]
df_2012 = monthly_totals[monthly_totals['year'] == 2012]

# Find highest & lowest for 2011
highest_2011 = df_2011.loc[df_2011['count'].idxmax()]
lowest_2011 = df_2011.loc[df_2011['count'].idxmin()]

# Find highest & lowest for 2012
highest_2012 = df_2012.loc[df_2012['count'].idxmax()]
lowest_2012 = df_2012.loc[df_2012['count'].idxmin()]

# Nicely formatted output
print("===== Results for 2011 =====")
print(f"Highest Rentals : Month {int(highest_2011['month'])} → {highest_2011['count']} bikes")
print(f"Lowest Rentals  : Month {int(lowest_2011['month'])} → {lowest_2011['count']} bikes")

print("\n===== Results for 2012 =====")
print(f"Highest Rentals : Month {int(highest_2012['month'])} → {highest_2012['count']} bikes")
print(f"Lowest Rentals  : Month {int(lowest_2012['month'])} → {lowest_2012['count']} bikes")

===== Results for 2011 =====
Highest Rentals : Month 7 → 92848 bikes
Lowest Rentals  : Month 1 → 23552 bikes

===== Results for 2012 =====
Highest Rentals : Month 9 → 133425 bikes
Lowest Rentals  : Month 1 → 56332 bikes

In [19]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour
0,2011-01-01 00:00:00,spring,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,Saturday,0
1,2011-01-01 01:00:00,spring,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,Saturday,1
2,2011-01-01 02:00:00,spring,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,Saturday,2
3,2011-01-01 03:00:00,spring,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,Saturday,3
4,2011-01-01 04:00:00,spring,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,Saturday,4

### Q9 - Which type of weather have the highest and lowest mean of the hourly total rentals count

In [20]:
mean_by_weather = df.groupby('weather')['count'].mean()
print(mean_by_weather)

weather
1    205.236791
2    178.955540
3    118.846333
4    164.000000
Name: count, dtype: float64

In [21]:
highest_mean_weather = mean_by_weather.idxmax()
lowest_mean_weather = mean_by_weather.idxmin()

print("Highest mean rentals:", highest_mean_weather)
print("Lowest mean rentals:", lowest_mean_weather)

Highest mean rentals: 1
Lowest mean rentals: 3

### Q10 - Calculate the correlation between the hourly total rentals count and all the numerical columns in the dataset. Which column has the highest correlation with the total rentals count

In [22]:
numeric_df = df.select_dtypes(include='number')

In [23]:
count_corr = numeric_df.corr()['count'].sort_values(ascending=False)
print(count_corr)

count         1.000000
registered    0.970948
casual        0.690414
hour          0.400601
temp          0.394454
atemp         0.389784
year          0.260403
month         0.166862
windspeed     0.101369
workingday    0.011594
holiday      -0.005393
weather      -0.128655
humidity     -0.317371
Name: count, dtype: float64

In [24]:
highest_corr_column = count_corr.drop('count').idxmax()
highest_corr_value = count_corr.drop('count').max()

print("Column with highest correlation:", highest_corr_column)
print("Correlation value:", highest_corr_value)

Column with highest correlation: registered
Correlation value: 0.9709481058098266

### Q11 - Create a new categorical column called day_period, which can take four possible values: night, morning, afternoon and evening. These values correspond to the following binning of the hour column: 0-6: night, 6-12: morning, 12-6: afternoon, 6-24:evening

In [25]:
bins = [0, 6, 12, 18, 24]  # Upper bound is exclusive by default
labels = ['night', 'morning', 'afternoon', 'evening']

In [26]:
df['day_period'] = pd.cut(df['hour'], bins=bins, labels=labels, right=False)

In [27]:
df[['hour', 'day_period']].head(10)

   hour day_period
0     0      night
1     1      night
2     2      night
3     3      night
4     4      night
5     5      night
6     6    morning
7     7    morning
8     8    morning
9     9    morning

### Q12 - Generate a pivot table for the mean of the hourly total rentals count, with the index set to the day period and the column set to the working day column. What can you observe from the table ?

In [28]:
pivot = df.pivot_table(
    values='count',        
    index='day_period',  
    columns='workingday',
    aggfunc='mean',       
    observed=False
)
print(pivot)

workingday           0           1
day_period
night        44.052083   16.217582
morning     157.772414  234.353763
afternoon   371.022989  266.196141
evening     180.182759  251.054662

In [29]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour,day_period
0,2011-01-01 00:00:00,spring,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,Saturday,0,night
1,2011-01-01 01:00:00,spring,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,Saturday,1,night
2,2011-01-01 02:00:00,spring,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,Saturday,2,night
3,2011-01-01 03:00:00,spring,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,Saturday,3,night
4,2011-01-01 04:00:00,spring,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,Saturday,4,night